<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous"></script>
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">

<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand" href="#" style="color: blue; font-weight: bold;"  >Gestion d'emploi du Temps</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" style="font-weight: bold;" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Users
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'users_home' %}">Add user</a></li>
              <li><a class="dropdown-item" href="{% url 'users_list' %}">List of users</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" style="font-weight: bold;" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Cours
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'cours_home' %}">Add cours</a></li>
              <li><a class="dropdown-item" href="{% url 'cours_list' %}">List of cours</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" style="font-weight: bold;" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Salles
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'salle_home' %}">Add salle</a></li>
              <li><a class="dropdown-item" href="{% url 'salles_list' %}">List of salles</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" href="#" style="font-weight: bold;" role="button" data-bs-toggle="dropdown" aria-expanded="false">
              Emploi du Temps
            </a>
            <ul class="dropdown-menu">
              <li><a class="dropdown-item" href="{% url 'emploi_home' %}">Add emploi</a></li>
              <li><a class="dropdown-item" href="{% url 'emploi_list' %}">List of emlpois</a></li>
            </ul>
          </li>
          
        </ul>
      </div>
    </div>
  </nav>